{% extends 'blog/index.html' %}

{% block title %}detail{% endblock %}

{% block content %}
<div class="max-w-5xl mx-auto">
        <img class="rounded-xl" src="{{ blog.image.url }}" alt="">
        <div class="">
            <h1 class="text-3xl font-semibold">{{ blog.title }}</h1>
            <p>{{ blog.subtitle }}</p>
            <p class="text-[.9rem] mt-4">{{ blog.create_at|date:"F j, Y" }}</p>
            <p class="mt-10">{{ blog.content }}</p>

            <h1 class="text-3xl font-semibold mb-5">Comentar:</h1>

            {% for cmt in comment  %}
                <div class="mb-4">
                    <h1 class="text-slate-900">{{cmt.user}}</h1>
                    <p class="text-[.9rem] text-slate-700">{{cmt.text}}</p>
                </div>
            {% endfor %}
            
            {% if request.user.is_authenticated %}
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="bg-teal-500 text-white px-3 py-2 rounded-md">send</button>
            </form>
            {% else %}
                <p>Silahkan login untuk buat komentar</p>
            {% endif %}
        </div>
    

    <div class="mt-10 mb-32">
        <h1 class="text-black font-semibold">Related Blog</h1>
        <div class="grid grid-cols-4 gap-8 mt-16">
            {% for blog in related %}
                <a href="{% url 'blog:detail' blog.id %}">
                    <div class="">
                        <img class="rounded-xl mb-2 h-[200px]" src="{{ blog.image.url }}" alt="">
                        <h3 class="font-semibold">{{ blog.title }}</h3>
                        <p class="text-[.8rem]">{{ blog.subtitle }}</p>
                       <div class="flex justify-between mt-4 items-center">
                              <p class="text-[.8rem] text-slate-700">{{ blog.create_at|date:"F j, Y" }}</p>
                              <div class="flex gap-5">
                                  <div class="text-xl"><ion-icon name="heart-outline"></ion-icon></div>
                                  <div class="text-xl"><ion-icon name="chatbox-ellipses-outline"></ion-icon></div>
                              </div>
                       </div>
                    </div>
                </a>
            {% endfor %}
    </div>
</div>
{% endblock %}